<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Oliver POS</title>
</head>

<body>

<h3>Patience is a virtue</h3>

<svg version="1.1" id="ologo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" xml:space="preserve" width="120px" height="120px">
	<rect id="lime" x="249.28" y="156.01" class="st0 ologo-1" width="103.9" height="103.9"></rect>
	<path id="teal" class="st1 ologo-2" d="M249.28,363.81V259.91h103.9C353.17,317.29,306.66,363.81,249.28,363.81z"></path>
	<rect id="cyan" x="145.38" y="259.91" class="st2 ologo-3" width="103.9" height="103.89"></rect>
	<path id="blue" class="st3 ologo-4" d="M41.49,259.91L41.49,259.91h103.9v103.89C88,363.81,41.49,317.29,41.49,259.91z"></path>
	<rect id="purple" x="41.49" y="156.01" class="st4 ologo-5" width="103.9" height="103.9"></rect>
	<path id="red" class="st5 ologo-6" d="M41.49,156.01L41.49,156.01c0-57.38,46.52-103.9,103.9-103.9v103.9H41.49z"></path>
	<rect id="orange" x="145.38" y="52.12" class="st6 ologo-7" width="103.9" height="103.9"></rect>
	<path id="yellow" class="st7 ologo-8" d="M281.3,123.99V20.09c57.38,0,103.9,46.52,103.9,103.9H281.3z"></path>
</svg>

<p id="paymentMsg">Give a man a fish, he will survive a day.</p>
<p id="warningMsg">Teach him how to fish, he will survive a lifetime</p>
<img id="side_logo" src="/oliverpos_logo.png">
	
	
		
    <script src="/js/client.js"></script>

</body>
</html>