<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <svg id="oliverpos_logo" width="142" height="50" viewBox="0 0 142 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M59.1687 35.8334C57.4587 34.8624 56.1189 33.5247 55.1521 31.8178C54.1852 30.1134 53.6992 28.1947 53.6992 26.0668C53.6992 23.9389 54.1826 22.0202 55.1521 20.3158C56.1189 18.6114 57.4587 17.2737 59.1687 16.3001C60.8787 15.3291 62.7995 14.8437 64.9312 14.8437C67.063 14.8437 68.9787 15.3291 70.6784 16.3001C72.3781 17.2711 73.7178 18.6088 74.695 20.3158C75.6721 22.0202 76.1607 23.9389 76.1607 26.0668C76.1607 28.1947 75.6721 30.1134 74.695 31.8178C73.7178 33.5222 72.3781 34.8624 70.6784 35.8334C68.9787 36.8044 67.0604 37.2899 64.9312 37.2899C62.8021 37.2899 60.8812 36.8044 59.1687 35.8334ZM68.3178 32.3136C69.3258 31.7067 70.1152 30.8597 70.6912 29.7725C71.2647 28.6853 71.5527 27.4509 71.5527 26.0668C71.5527 24.6826 71.2647 23.4456 70.6912 22.361C70.1178 21.2738 69.3258 20.4268 68.3178 19.8199C67.3098 19.2131 66.181 18.9084 64.9312 18.9084C63.6815 18.9084 62.5527 19.2131 61.5472 19.8199C60.5392 20.4268 59.7498 21.2738 59.1738 22.361C58.5978 23.4482 58.3124 24.6826 58.3124 26.0668C58.3124 27.4509 58.6004 28.6879 59.1738 29.7725C59.7472 30.8597 60.5392 31.7067 61.5472 32.3136C62.5552 32.9205 63.6841 33.2252 64.9312 33.2252C66.181 33.2226 67.3098 32.9205 68.3178 32.3136Z" fill="#3D4C66"/>
            <path d="M78.7399 13.8339H83.1473V36.9309H78.7399V13.8339Z" fill="#3D4C66"/>
            <path d="M87.2461 20.8581H91.6536V36.9309H87.2461V20.8581ZM92.1139 16.1245C92.0856 17.9993 89.4139 19.8225 89.4139 19.8225C89.4139 19.8225 86.6933 17.9503 86.7139 16.1245C86.7293 14.7223 87.9224 13.5163 89.4139 13.5163C90.9053 13.5163 92.1344 14.7223 92.1139 16.1245Z" fill="#3D4C66"/>
            <path d="M110.842 20.8581L104.426 36.9309H99.8771L93.4896 20.8581H98.0385L102.248 31.792L106.599 20.8581H110.842Z" fill="#3D4C66"/>
            <path d="M127.034 30.2089H115.534C115.743 31.2057 116.231 31.9908 117.003 32.5693C117.774 33.1477 118.736 33.4369 119.885 33.4369C120.677 33.4369 121.379 33.313 121.991 33.0625C122.603 32.8146 123.174 32.4195 123.701 31.8823L126.046 34.5706C124.614 36.3034 122.524 37.1685 119.772 37.1685C118.057 37.1685 116.54 36.8147 115.223 36.1071C113.904 35.3996 112.886 34.4182 112.171 33.1658C111.454 31.9107 111.096 30.4878 111.096 28.8945C111.096 27.3218 111.448 25.9015 112.156 24.6387C112.863 23.3733 113.832 22.3894 115.066 21.6819C116.301 20.9743 117.682 20.6205 119.206 20.6205C120.695 20.6205 122.043 20.9588 123.249 21.6354C124.455 22.312 125.401 23.2829 126.088 24.5483C126.774 25.8137 127.119 27.2805 127.119 28.9539C127.119 29.0133 127.09 29.4316 127.034 30.2089ZM116.72 25.0416C116.041 25.6381 115.627 26.4567 115.475 27.4923H122.963C122.812 26.4774 122.398 25.6639 121.719 25.057C121.04 24.4502 120.212 24.1455 119.232 24.1455C118.237 24.1455 117.399 24.445 116.72 25.0416Z" fill="#3D4C66"/>
            <path d="M136.402 21.217C137.296 20.8193 138.328 20.6205 139.495 20.6205V24.9228C139.004 24.884 138.675 24.8634 138.505 24.8634C137.242 24.8634 136.252 25.2378 135.538 25.9841C134.82 26.7304 134.463 27.8512 134.463 29.3438V36.9309H130.055V20.8581H134.265V22.9782C134.797 22.2035 135.507 21.6173 136.402 21.217Z" fill="#3D4C66"/>
            <path d="M14.2354 18.7043H0V33.0005H14.2354V18.7043Z" fill="#A568BC"/>
            <path d="M42.709 18.7043H28.4735V33.0005H42.709V18.7043Z" fill="#A1E663"/>
            <path d="M28.4709 4.40814H14.2355V18.7043H28.4709V4.40814Z" fill="#FF8552"/>
            <path d="M28.3783 33.0547H14.1428V47.3509H28.3783V33.0547Z" fill="#1DB9CA"/>
            <path d="M32.8604 14.2962V0C40.7238 0 47.0958 6.40177 47.0958 14.2962H32.8604Z" fill="#FFD026"/>
            <path d="M28.4735 47.2993V33.0031H42.709C42.709 40.8975 36.337 47.2993 28.4735 47.2993Z" fill="#47D2A5"/>
            <path d="M0 18.7043C0 10.8073 6.37458 4.40814 14.2354 4.40814V18.7043H0Z" fill="#FF525F"/>
            <path d="M0 33.0005H14.2354V47.2967C6.37458 47.2993 0 40.8975 0 33.0005Z" fill="#2797E8"/>
		</svg>
    </div>
    <form method = 'POST'>
    <div class="divi">
        <button type = 'submit' class="learn-more" formaction = '/mainMenu'>Individual</button>
    </div>
    </form>
    <form method = 'POST'>
        <div class="grp">
            <button type = 'submit' class="learn-more" formaction = '/mainMenu'>Group</button>
        </div>
        <div class="select">
            <div class="select__wrapper">
              <div class="select__content">
                <p class="selected">Number</p>
                <div class="select__fields">
                  <div class="select__option" data-value="2">2</div>
                  <div class="select__option" data-value="3">3</div>
                  <div class="select__option" data-value="4">4</div>
                  <div class="select__option" data-value="5">5</div>
                  <div class="select__option" data-value="6">6</div>
                  <div class="select__option" data-value="7">7</div>
                  <div class="select__option" data-value="8">8</div>
                  <div class="select__option" data-value="9">9</div>
                  <div class="select__option" data-value="10">10</div>
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
                  <path d="M14.8284 12.0259L16.2426 13.4402L12 17.6828L7.75733 13.4402L9.17155 12.0259L11 13.8544V6.31724H13V13.8544L14.8284 12.0259Z" fill="currentColor" />
                </svg>
              </div>
            </div>
          </div>
      </form>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    const selects = document.querySelectorAll(".select__wrapper");
    selects.forEach((select) => {
      select.addEventListener("click", () => {
        let content = select.querySelector(".select__content .select__fields");

        [...content.children].forEach((item) => {
          item.addEventListener("click", () => {
            select.querySelector(".selected").innerText =
              item.getAttribute("data-value");
          });
        });

        if (content.classList.contains("select-d")) {
          content.classList.remove("select-d");
        } else {
          content.classList.add("select-d");
        }
      });
    });
  });
</script>
</body>
</html>